# ==============================================================================
# PYTHON BAĞIMLILIKLARI
# ==============================================================================
# Hafta 4 sonunda belirlenen temel bağımlılıklar
# ==============================================================================

flask
flask-cors
cryptography
firebase-admin
watchdog
