# ==============================================================================
# PYTHON BAĞIMLILIKLARI
# ==============================================================================
# Hafta 2 sonunda belirlenen temel bağımlılıklar
# ==============================================================================

flask
flask-cors
cryptography
firebase-admin
